openai
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-community
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers
huggingface_hub
tiktoken
fastapi
uvicorn[standard]
python-multipart
pymongo
certifi
bcrypt
slowapi
python-jose
markdown
pydantic[email]
email-validator